.piecesvg {
    height: 90%;
    width: 90%;
    cursor: pointer;
}

.piececontainer {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}