body {
    margin: 0
}

.startmainbox {
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
}

.choosemodemainBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.link {
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linkButton {
    width: 100px;
    height: 32px;
}