.piecesvg {
    height: 90%;
    width: 90%;
}

.piececontainer {
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
    overflow: visible;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
}