.board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

.square {
    height: 5rem;
    width: 5rem;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.white {
    background-color: #f0d9b5;
}

.black {
    background-color: #b58863;
}