.dropableMarker_withoutPiece {
    width: 25%;
    height: 25%;
    background-color: var(--square-board-dropable-color);
}

.dropableMarker_withPiece {
    width: 100%;
    height: 100%;
    background-color: var(--square-board-dropable-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropableMarker_withPiece_overlap {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}