.multiplayergame_main {
    display: grid;
    grid-template-rows: 1fr minmax(1rem, 8fr) 1fr;
}

.multiplayergame_header {
    background-color: red;
}

.multiplayergame_footer {
    background-color: blue;
}

.multiplayergame_body {
    background-color: green;
    display: flex;
}